node_modules
.cache
.env*
src/lib/gramjs/build/
build-contest/
tests/
.idea
*.iml
dev/perf/screenshot*
.DS_store
.firebase
.firebaserc
.github
dist/*
.github/workflows/*
!.github/workflows/package-and-publish.yml
